extends ../template

block variables
    - var title = '404'
    - var aboutText = false
    - var contactForm = false

block content
    main.main.error-page
        section.error-page__banner
            .catalog__banner
                .container
        section.error-page__content
            .container
                .error-page__wrap
                    span.error-page__num 4
                    img.error-page__img(src="assets/images/404-logo.svg", alt="")
                    span.error-page__num 4
                p.error-page__text Упс... Что-то пошло не так
                a.error-page__link.btn-red(href="#") Вернуться на главную