extends ../template

block variables
    - var title = 'Каталог'
    - var aboutText = true
    - var contactForm = true

block content
    main.main
        section.catalog
            .catalog__banner
                .container
                    h1.catalog__title.title Товары без рисунка
            .container
                include ../components/breadcrumbs.pug

                ul.catalog__list.clothes-list
                    include ../components/card-item.pug
                    include ../components/card-item.pug
                    include ../components/card-item.pug
                    include ../components/card-item.pug
                    include ../components/card-item.pug
                    include ../components/card-item.pug
                    include ../components/card-item.pug
                    include ../components/card-item.pug
                    include ../components/card-item.pug
                    include ../components/card-item.pug
                    include ../components/card-item.pug
                    include ../components/card-item.pug
                    include ../components/card-item.pug
                    include ../components/card-item.pug
                    include ../components/card-item.pug
                    include ../components/card-item.pug
                
        include ../components/advantages.pug