extends ../template

block variables
    - var title = 'Помощь'
    - var aboutText = false
    - var contactForm = true

block content
    main.main.help
        section.help-banner
            .catalog__banner
                .container
                    h1.help__title.title Помощь
        .help__breadcrumbs
            .container
                include ../components/breadcrumbs.pug

        include ../components/steps.pug

        section.help__delivery.help-hint
            .help__container.container
                h2.help__subtitle.subtitle Способы доставки
                .help-tabs__wrap
                    .help-tabs__item.ac
                        .help-tabs__head.ac-header
                            .ac-trigger Самовывоз
                        .help-tabs__cont.ac-panel
                            p.help-tabs__text Если вы находитесь в г. Москве, то вы можете забрать товар самостоятельно, приехав к нам в офис, который находится у метро Павелецкая. Также, если вы находитесь в Москве и хотите быстро забрать свою вещь около вашей ближайшей станции метро, мы можем отправить ее вам на ближайший пункт самовывоза СДЭК за 150 рублей. Пункты самовывоза данной компании находятся практически у каждой станции московского метро, а сама доставка займет от 1 до 2 дней. Посмотреть, на каком пункте самовывоза вам будет удобнее всего забрать вещь, можно здесь: Пункты самовывоза СДЭК в городе Москва.
                    .help-tabs__item.ac
                        .help-tabs__head.ac-header
                            .ac-trigger По Москве — 450 ₽ 
                        .help-tabs__cont.ac-panel 
                            p.help-tabs__text Если вы находитесь в г. Москве, то вы можете забрать товар самостоятельно, приехав к нам в офис, который находится у метро Павелецкая. Также, если вы находитесь в Москве и хотите быстро забрать свою вещь около вашей ближайшей станции метро, мы можем отправить ее вам на ближайший пункт самовывоза СДЭК за 150 рублей. Пункты самовывоза данной компании находятся практически у каждой станции московского метро, а сама доставка займет от 1 до 2 дней. Посмотреть, на каком пункте самовывоза вам будет удобнее всего забрать вещь, можно здесь: Пункты самовывоза СДЭК в городе Москва.
                    .help-tabs__item.ac
                        .help-tabs__head.ac-header 
                            .ac-trigger По Московской области — от 500 ₽
                        .help-tabs__cont.ac-panel 
                            p.help-tabs__text Если вы находитесь в г. Москве, то вы можете забрать товар самостоятельно, приехав к нам в офис, который находится у метро Павелецкая. Также, если вы находитесь в Москве и хотите быстро забрать свою вещь около вашей ближайшей станции метро, мы можем отправить ее вам на ближайший пункт самовывоза СДЭК за 150 рублей. Пункты самовывоза данной компании находятся практически у каждой станции московского метро, а сама доставка займет от 1 до 2 дней. Посмотреть, на каком пункте самовывоза вам будет удобнее всего забрать вещь, можно здесь: Пункты самовывоза СДЭК в городе Москва.
                    .help-tabs__item.ac
                        .help-tabs__head.ac-header 
                            .ac-trigger Почта России — от 300 ₽ 
                        .help-tabs__cont.ac-panel 
                            p.help-tabs__text Если вы находитесь в г. Москве, то вы можете забрать товар самостоятельно, приехав к нам в офис, который находится у метро Павелецкая. Также, если вы находитесь в Москве и хотите быстро забрать свою вещь около вашей ближайшей станции метро, мы можем отправить ее вам на ближайший пункт самовывоза СДЭК за 150 рублей. Пункты самовывоза данной компании находятся практически у каждой станции московского метро, а сама доставка займет от 1 до 2 дней. Посмотреть, на каком пункте самовывоза вам будет удобнее всего забрать вещь, можно здесь: Пункты самовывоза СДЭК в городе Москва.
                    .help-tabs__item.ac
                        .help-tabs__head.ac-header
                            .ac-trigger Курьерская экспресс-доставка — от 350 до 900 ₽ 
                        .help-tabs__cont.ac-panel 
                            p.help-tabs__text Если вы находитесь в г. Москве, то вы можете забрать товар самостоятельно, приехав к нам в офис, который находится у метро Павелецкая. Также, если вы находитесь в Москве и хотите быстро забрать свою вещь около вашей ближайшей станции метро, мы можем отправить ее вам на ближайший пункт самовывоза СДЭК за 150 рублей. Пункты самовывоза данной компании находятся практически у каждой станции московского метро, а сама доставка займет от 1 до 2 дней. Посмотреть, на каком пункте самовывоза вам будет удобнее всего забрать вещь, можно здесь: Пункты самовывоза СДЭК в городе Москва.
                    .help-tabs__item.ac
                        .help-tabs__head.ac-header
                            .ac-trigger Доставка транспортной компанией ПЭК (от 10 штук)
                        .help-tabs__cont.ac-panel 
                            p.help-tabs__text Если вы находитесь в г. Москве, то вы можете забрать товар самостоятельно, приехав к нам в офис, который находится у метро Павелецкая. Также, если вы находитесь в Москве и хотите быстро забрать свою вещь около вашей ближайшей станции метро, мы можем отправить ее вам на ближайший пункт самовывоза СДЭК за 150 рублей. Пункты самовывоза данной компании находятся практически у каждой станции московского метро, а сама доставка займет от 1 до 2 дней. Посмотреть, на каком пункте самовывоза вам будет удобнее всего забрать вещь, можно здесь: Пункты самовывоза СДЭК в городе Москва.
        section.help__return.help-hint
            .help__container.container
                h2.help__subtitle.subtitle Возврат товара
                p.help__text Так как каждая вещь изготавливается индивидуально, индивидуальные заказы и заказы по акции возврату и обмену не подлежат. Если нами была допущена ошибка, или товар оказался бракованным, то Вы можете обменять или вернуть вещь в течение 14 дней с момента покупки, при условии сохранения товарного вида. При возникновении вопросов Вы всегда можете связаться с нами по телефону или написать консультанту Вконтакте, чтобы мы помогли разобраться с проблемой и решить ее.

                p.help__text Если Вам не подошел размер, возврат и обмен товара не возможен. В нашем офисе всегда можно оценить качество нашей продукции и примерить ее перед тем, как заказать нужную Вам вещь. Если нет возможности приехать в пункт примерки, проконсультируйтесь у администратора Вконтакте или позвоните в магазин.
        section.help__payment.help-hint
            .help__container.container
                h2.help__subtitle.subtitle Способы оплаты
                .help-tabs__wrap.help-tabs__wrap--payment
                    .help-tabs__item.ac
                        .help-tabs__head.ac-header 
                            .ac-trigger Наличный расчет
                        .help-tabs__cont.ac-panel
                            p.help-tabs__text При внесении постоплаты товара в нашем офисе, или если вы выбрали доставку курьером по Москве, вы можете доплатить за покупку наличными при получении заказа.
                    .help-tabs__item.ac
                        .help-tabs__head.ac-header 
                            .ac-trigger Онлайн платежи через сайт
                        .help-tabs__cont.ac-panel
                            p.help-tabs__text При внесении постоплаты товара в нашем офисе, или если вы выбрали доставку курьером по Москве, вы можете доплатить за покупку наличными при получении заказа.

