extends ../template

block variables
    - var title = 'Карта сайта'
    - var contactForm = false

block content
    main.main.map-site
        .container
            h1.map-site__title
            table.map-site__table
                tr.map-site__row
                    td.map-site__cell
                        a.map-site__link(href="main.html" target="_blank") Главная
                tr.map-site__row
                    td.map-site__cell
                        a.map-site__link(href="catalog.html" target="_blank") Каталог
                tr.map-site__row
                    td.map-site__cell
                        a.map-site__link(href="catalog-clothes.html" target="_blank") Одежда без рисунка
                    td.map-site__cell
                        a.map-site__link(href="catalog-hoodies.html" target="_blank") Каталог толстовок
                    td.map-site__cell
                        a.map-site__link(href="products.html" target="_blank") Изделия без рисунка
                    td.map-site__cell
                        a.map-site__link(href="products-cups.html" target="_blank") Кружки
                tr.map-site__row
                    td.map-site__cell
                        a.map-site__link(href="print-clothes.html" target="_blank") Печать на одежде
                    td.map-site__cell
                        a.map-site__link(href="print-shirts.html" target="_blank") Печать на футболках
                    td.map-site__cell
                        a.map-site__link(href="print-item-shirt.html" target="_blank") Печать калькулятор
                    td.map-site__cell
                        a.map-site__link(href="print-products.html" target="_blank") Печать на изделиях
                    td.map-site__cell
                        a.map-site__link(href="print-cups.html" target="_blank") Печать на кружках
                    td.map-site__cell
                        a.map-site__link(href="print-item-cup.html" target="_blank") Кружка калькулятор
                tr.map-site__row
                    td.map-site__cell
                        a.map-site__link(href="price.html" target="_blank") Цены
                    
