extends ../template

block variables
    - var title = 'Главная'
    - var contactForm = true

block content
    main.main
        section.main-top
            .container
                .main-top__wrap
                    h1.main-top__title Печатаем на одежде<br> и сувенирной продукции оптом и в розницу
                    p.main-top__text Мы печатаем в кратчайшие сроки, всегда внимательны к деталям и вежливы с клиентами. Только здесь самые низкие цены на рынке. Главное для нас — это качество и удовлетворённые покупатели!
                .main-top__wrapp
                    img(src="assets/images/main-logo.png", alt="Логотип Fair-Print")

            
