extends ../template

block variables
    - var title = 'Главная'
    - var contactForm = true

block content
    main.main
        section.main-top
            .main-top__container.swiper-container
                .main-top__wrapper.swiper-wrapper
                    .main-top__item.swiper-slide
                        .main-top__box.container
                            .main-top__wrap
                                h1.main-top__title Печатаем на одежде<br> и сувенирной продукции оптом и в розницу
                                p.main-top__text Мы печатаем в кратчайшие сроки, всегда внимательны к деталям и вежливы с клиентами. Только здесь самые низкие цены на рынке. Главное для нас — это качество и удовлетворённые покупатели!
                            .main-top__img-wrap
                                img(src="assets/images/main-logo.png", alt="Логотип Fair-Print")
                    .main-top__item.swiper-slide
                        .main-top__box.container
                            .main-top__wrap
                                h1.main-top__title Печатаем на одежде<br> и сувенирной продукции оптом и в розницу
                                p.main-top__text Мы печатаем в кратчайшие сроки, всегда внимательны к деталям и вежливы с клиентами. Только здесь самые низкие цены на рынке. Главное для нас — это качество и удовлетворённые покупатели!
                            .main-top__img-wrap
                                img(src="assets/images/main-logo.png", alt="Логотип Fair-Print")
                    .main-top__item.swiper-slide
                        .main-top__box.container
                            .main-top__wrap
                                h1.main-top__title Печатаем на одежде<br> и сувенирной продукции оптом и в розницу
                                p.main-top__text Мы печатаем в кратчайшие сроки, всегда внимательны к деталям и вежливы с клиентами. Только здесь самые низкие цены на рынке. Главное для нас — это качество и удовлетворённые покупатели!
                            .main-top__img-wrap
                                img(src="assets/images/main-logo.png", alt="Логотип Fair-Print")
                .swiper-pagination
            
        section.main-links
            h2.visually-hidden Каталог
            ul.main-links__list
                li.main-links__item.main-links__item--fir
                    a.main-links__link(href="#")
                        img.main-links__img(src="assets/images/product-hoodie-min.png", alt="")
                        .main-links__wrap
                            span Печать на бейсболках
                            a(href="#") от 1650 ₽
                li.main-links__item.main-links__item--sec
                    a.main-links__link(href="#")
                        img(src="#", alt="")
                        .main-links__wrap
                            span Печать на бейсболках
                            a(href="#") от 1650 ₽
                li.main-links__item.main-links__item--thir
                    a.main-links__link(href="#")
                li.main-links__item.main-links__item--four
                    a.main-links__link(href="#")
                li.main-links__item.main-links__item--fif
                    a.main-links__link(href="#")
                li.main-links__item.main-links__item--six
                    a.main-links__link(href="#")
                li.main-links__item.main-links__item--sev
                    a.main-links__link(href="#")
                li.main-links__item.main-links__item--eig
                    a.main-links__link(href="#")
                li.main-links__item.main-links__item--nin
                    a.main-links__link(href="#")
                li.main-links__item.main-links__item--ten
                    a.main-links__link(href="#")