extends ../template

block variables
    - var title = 'Главная'
    - var aboutText = true
    - var contactForm = true

block content
    main.main
        section.main-top
            .main-top__container.swiper-container
                .main-top__wrapper.swiper-wrapper
                    .main-top__item.swiper-slide
                        .main-top__box.container
                            .main-top__wrap
                                h1.main-top__title.title Печатаем на одежде<br> и сувенирной продукции оптом и в розницу
                                p.main-top__text Мы печатаем в кратчайшие сроки, всегда внимательны к деталям и вежливы с клиентами. Только здесь самые низкие цены на рынке. Главное для нас — это качество и удовлетворённые покупатели!
                            .main-top__img-wrap
                                img(src="assets/images/main-logo.png", alt="Логотип Fair-Print")
                    .main-top__item.swiper-slide
                        .main-top__box.container
                            .main-top__wrap
                                h1.main-top__title.title Печатаем на одежде<br> и сувенирной продукции оптом и в розницу
                                p.main-top__text Мы печатаем в кратчайшие сроки, всегда внимательны к деталям и вежливы с клиентами. Только здесь самые низкие цены на рынке. Главное для нас — это качество и удовлетворённые покупатели!
                            .main-top__img-wrap
                                img(src="assets/images/main-logo.png", alt="Логотип Fair-Print")
                    .main-top__item.swiper-slide
                        .main-top__box.container
                            .main-top__wrap
                                h1.main-top__title.title Печатаем на одежде<br> и сувенирной продукции оптом и в розницу
                                p.main-top__text Мы печатаем в кратчайшие сроки, всегда внимательны к деталям и вежливы с клиентами. Только здесь самые низкие цены на рынке. Главное для нас — это качество и удовлетворённые покупатели!
                            .main-top__img-wrap
                                img(src="assets/images/main-logo.png", alt="Логотип Fair-Print")
                .swiper-pagination
            
        section.main-links
            h2.visually-hidden Каталог
            ul.main-links__list
                li.main-links__item.main-links__item--fir
                    //- (data-aos="fade-up")
                    a.main-links__link(href="#")
                        img.main-links__img(src="assets/images/product-hoodie-min.png", alt="")
                        .main-links__wrap
                            span.main-links__text Печать на толстовках
                            .main-links__btn от 1650 ₽
                li.main-links__item.main-links__item--sec
                    //- (data-aos="fade-up" data-aos-delay="200")
                    a.main-links__link(href="")
                        .main-links__wrap
                            span.main-links__text Печать на бейсболках
                            .main-links__btn от 1650 ₽
                li.main-links__item.main-links__item--thir
                    //- (data-aos="fade-up" data-aos-delay="50")
                    a.main-links__link(href="#")
                        .main-links__wrap
                            span.main-links__text Печать на бейсболках
                            .main-links__btn от 1650 ₽
                li.main-links__item.main-links__item--four
                    //- (data-aos="fade-up" data-aos-delay="200")
                    a.main-links__link(href="#")
                        img.main-links__img(src="assets/images/product-cap-min.png", alt="")
                        .main-links__wrap
                            span.main-links__text Печать на бейсболках
                            .main-links__btn от 1650 ₽
                li.main-links__item.main-links__item--fif
                    //- (data-aos="fade-up" data-aos-delay="50")
                    a.main-links__link(href="#")
                        img.main-links__img(src="assets/images/product-cups-min.png", alt="")
                        .main-links__wrap
                            span.main-links__text Печать на бейсболках
                            .main-links__btn от 1650 ₽
                li.main-links__item.main-links__item--six
                    //- (data-aos="fade-up" data-aos-delay="200")
                    a.main-links__link(href="#")
                        img.main-links__img(src="assets/images/product-bomber-min.png", alt="")
                        .main-links__wrap
                            span.main-links__text Печать на бейсболках
                            .main-links__btn от 1650 ₽
                li.main-links__item.main-links__item--sev
                    //- (data-aos="fade-up" data-aos-delay="50")
                    a.main-links__link(href="#")
                        img.main-links__img(src="assets/images/product-sweatshot-min.png", alt="")
                        .main-links__wrap
                            span.main-links__text Печать на бейсболках
                            .main-links__btn от 1650 ₽
                li.main-links__item.main-links__item--eig
                    //- (data-aos="fade-up" data-aos-delay="200")
                    a.main-links__link(href="#")
                        img.main-links__img(src="assets/images/product-cases-min.png", alt="")
                        .main-links__wrap
                            span.main-links__text Печать на бейсболках
                            .main-links__btn от 1650 ₽
                li.main-links__item.main-links__item--nin
                    //- (data-aos="fade-up" data-aos-delay="50")
                    a.main-links__link(href="#")
                        img.main-links__img(src="assets/images/product-mask-min.png", alt="")
                        .main-links__wrap
                            span.main-links__text Печать на бейсболках
                            .main-links__btn от 1650 ₽
                li.main-links__item.main-links__item--ten
                    //- (data-aos="fade-up" data-aos-delay="200")
                    a.main-links__link(href="#")
                        .main-links__wrap
                            span.main-links__text Печать на бейсболках
                            .main-links__btn от 1650 ₽

        section.main-clothes
            //- (data-aos="fade-up")
            .container
                .main-clothes__wrap
                    h2.main-clothes__title.title Одежда без рисунка
                    a.main-clothes__btn.btn-blue(href="#") Выбрать принт от 500 ₽
                .clothes-list__swiper.swiper-container
                    include ../components/clothes-list.pug
                    .swiper-pagination

        .main-advantages
            //- (data-aos="fade-up")
            include ../components/advantages.pug

        section.production
            //- (data-aos="fade-up")
            .container
                .production__wrap
                    .production__left
                        h2.production__title.title Собственное производство
                        p.production__text Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки существенных финансовых и административных условий.
                    a.production__btn.btn-blue(href="#") Узнать о технологии печати

                .production__slider
                    .swiper-container
                        ul.production__list.swiper-wrapper
                            li.production__item.swiper-slide
                                .production__img-wrap
                                    img.production__img(src="assets/images/production-1-min.jpg", alt="")
                            li.production__item.swiper-slide
                                .production__img-wrap
                                    img.production__img(src="assets/images/production-2-min.jpg", alt="")
                            li.production__item.swiper-slide
                                .production__img-wrap
                                    img.production__img(src="assets/images/production-3-min.jpg", alt="")

        section.clients
            //- (data-aos="fade-up")
            .container
                h2.clients__title.title Наши клиенты
                .clients__swiper-top.swiper-container
                    //- (data-aos="fade-left")
                    ul.clients__list.swiper-wrapper
                        li.clients__item.swiper-slide
                            a.clients__link(href="#")
                                img.clients__img(src="assets/images/logo-kfc.png", alt="")
                        li.clients__item.swiper-slide
                            a.clients__link(href="#")
                                img.clients__img(src="assets/images/logo-cofix.png", width="100%" height="80" alt="")
                        li.clients__item.swiper-slide
                            a.clients__link(href="#")
                                img.clients__img(src="assets/images/logo-craft-store.png", width="100%" height="80" alt="")
                        li.clients__item.swiper-slide
                            a.clients__link(href="#")
                                img.clients__img(src="assets/images/logo-postgress.png", alt="")
                        li.clients__item.swiper-slide
                            a.clients__link(href="#")
                                img.clients__img(src="assets/images/logo-girosmart.png", width="100%" height="80" alt="")
                        li.clients__item.swiper-slide
                            a.clients__link(href="#")
                                img.clients__img(src="assets/images/logo-kfc.png", alt="")
                        li.clients__item.swiper-slide
                            a.clients__link(href="#")
                                img.clients__img(src="assets/images/logo-cofix.png", width="100%" height="80" alt="")
                        li.clients__item.swiper-slide
                            a.clients__link(href="#")
                                img.clients__img(src="assets/images/logo-craft-store.png", width="100%" height="80" alt="")
                
                .clients__swiper-bot.swiper-container(dir="rtl")
                    //- data-aos="fade-right"
                    ul.clients__list.swiper-wrapper
                        li.clients__item.swiper-slide
                            a.clients__link(href="#")
                                img.clients__img(src="assets/images/logo-kfc.png", alt="")
                        li.clients__item.swiper-slide
                            a.clients__link(href="#")
                                img.clients__img(src="assets/images/logo-cofix.png", width="100%" height="80" alt="")
                        li.clients__item.swiper-slide
                            a.clients__link(href="#")
                                img.clients__img(src="assets/images/logo-craft-store.png", width="100%" height="80" alt="")
                        li.clients__item.swiper-slide
                            a.clients__link(href="#")
                                img.clients__img(src="assets/images/logo-postgress.png", alt="")
                        li.clients__item.swiper-slide
                            a.clients__link(href="#")
                                img.clients__img(src="assets/images/logo-girosmart.png", width="100%" height="80" alt="")
                        li.clients__item.swiper-slide
                            a.clients__link(href="#")
                                img.clients__img(src="assets/images/logo-kfc.png", alt="")
                        li.clients__item.swiper-slide
                            a.clients__link(href="#")
                                img.clients__img(src="assets/images/logo-cofix.png", width="100%" height="80" alt="")
                        li.clients__item.swiper-slide
                            a.clients__link(href="#")
                                img.clients__img(src="assets/images/logo-craft-store.png", width="100%" height="80" alt="")
                    .swiper-pagination

        include ../components/work-examples.pug