extends ../template

block variables
    - var title = 'Печать на изделиях'
    - var aboutText = true
    - var contactForm = true

block content
    main.main
        section.catalog.print-products
            .catalog__banner
                .container
                    h1.catalog__title.title Печать на изделиях
            .container
                include ../components/breadcrumbs.pug

                ul.products__top-list.top-list
                    li.top-list__item
                        a.top-list__link(href="#")
                            .top-list__img-wrap
                                img.top-list__img(src="assets/images/print-mask-min.png", alt="")
                            h3.top-list__caption.caption Маски
                            .top-list__btn.main-btn от 1650 ₽
                    li.top-list__item
                        a.top-list__link(href="#")
                            .top-list__img-wrap
                                img.top-list__img(src="assets/images/print-bag-min.png", alt="")
                            h3.top-list__caption.caption Экосумки
                            .top-list__btn.main-btn от 1650 ₽

                ul.product__list.clothes-list
                    li.clothes-list__item
                        a.clothes-list__link(href="#")
                            .clothes-list__img-wrap
                                span.clothes-list__text Минимальный тираж: 20 штук
                                .imgwrap
                                    img.clothes-list__img(src="assets/images/print-jacket-min.png", alt="Куртки")
                            h3.clothes-list__caption.caption Куртки
                            .clothes-list__btn.main-btn от 1650 ₽
                    li.clothes-list__item
                        a.clothes-list__link(href="#")
                            .clothes-list__img-wrap
                                span.clothes-list__text Минимальный тираж: 20 штук
                                .imgwrap
                                    img.clothes-list__img(src="assets/images/print-cups-min.png", alt="Кружки")
                            h3.clothes-list__caption.caption Кружки
                            .clothes-list__btn.main-btn от 1650 ₽
                    li.clothes-list__item
                        a.clothes-list__link(href="#")
                            .clothes-list__img-wrap
                                span.clothes-list__text Минимальный тираж: 20 штук
                                .imgwrap
                                    img.clothes-list__img(src="assets/images/print-holders-min.png", alt="Картхолдеры")
                            h3.clothes-list__caption.caption Картхолдеры
                            .clothes-list__btn.main-btn от 1650 ₽
                    li.clothes-list__item
                        a.clothes-list__link(href="#")
                            .clothes-list__img-wrap
                                span.clothes-list__text Минимальный тираж: 20 штук
                                .imgwrap
                                    img.clothes-list__img(src="assets/images/print-covers-min.png", alt="Чехлы на документы")
                            h3.clothes-list__caption.caption Чехлы на документы
                            .clothes-list__btn.main-btn от 1650 ₽
                    li.clothes-list__item
                        a.clothes-list__link(href="#")
                            .clothes-list__img-wrap
                                span.clothes-list__text Минимальный тираж: 20 штук
                                .imgwrap
                                    img.clothes-list__img(src="assets/images/print-badges-min.png", alt="Значки")
                            h3.clothes-list__caption.caption Значки
                            .clothes-list__btn.main-btn от 1650 ₽
                    li.clothes-list__item
                        a.clothes-list__link(href="#")
                            .clothes-list__img-wrap
                                span.clothes-list__text Минимальный тираж: 20 штук
                                .imgwrap
                                    img.clothes-list__img(src="assets/images/print-bandana-min.png", alt="Банданы")
                            h3.clothes-list__caption.caption Банданы
                            .clothes-list__btn.main-btn от 1650 ₽
                    li.clothes-list__item
                        a.clothes-list__link(href="#")
                            .clothes-list__img-wrap
                                span.clothes-list__text Минимальный тираж: 20 штук
                                .imgwrap
                                    img.clothes-list__img(src="assets/images/print-backup-min.png", alt="Рюкзаки")
                            h3.clothes-list__caption.caption Рюкзаки
                            .clothes-list__btn.main-btn от 1650 ₽
                    li.clothes-list__item
                        a.clothes-list__link(href="#")
                            .clothes-list__img-wrap
                                span.clothes-list__text Минимальный тираж: 20 штук
                                .imgwrap
                                    img.clothes-list__img(src="assets/images/print-cases-min.png", alt="Чехлы для телефона")
                            h3.clothes-list__caption.caption Чехлы для телефона
                            .clothes-list__btn.main-btn от 1650 ₽
                    li.clothes-list__item
                        a.clothes-list__link(href="#")
                            .clothes-list__img-wrap
                                span.clothes-list__text Минимальный тираж: 20 штук
                                .imgwrap
                                    img.clothes-list__img(src="assets/images/product-cap-min.png", alt="Бейсболки")
                            h3.clothes-list__caption.caption Бейсболки
                            .clothes-list__btn.main-btn от 1650 ₽
                        