extends ../template

block variables
    - var title = 'Печать калькулятор'
    - var aboutText = true
    - var contactForm = true

block content
    main.main
        section.catalog
            .catalog__banner
                .container
                    h1.catalog__title.title Печать на бордовой футболке
            .container
                include ../components/breadcrumbs.pug
        section.calc
            .container
                .calc__slider
                    .swiper-container.gallery-top
                        .swiper-wrapper
                            .swiper-slide
                                .calc__img-wrap
                                    img.calc__img(src="assets/images/print-shirt-min.png", alt="")
                            .swiper-slide
                                .calc__img-wrap
                                    img.calc__img(src="assets/images/print-shirt-2-min.png", alt="")
                            .swiper-slide
                                .calc__img-wrap
                                    img.calc__img(src="assets/images/print-shirt-min.png", alt="")
                            .swiper-slide
                                .calc__img-wrap
                                    img.calc__img(src="assets/images/print-shirt-2-min.png", alt="")
                            .swiper-slide
                                .calc__img-wrap
                                    img.calc__img(src="assets/images/print-shirt-min.png", alt="")
                    .swiper-container.gallery-thumbs
                        .swiper-wrapper
                            .swiper-slide
                                .calc__img-wrap
                                    img.calc__img(src="assets/images/print-shirt-min.png", alt="")
                            .swiper-slide
                                .calc__img-wrap
                                    img.calc__img(src="assets/images/print-shirt-2-min.png", alt="")
                            .swiper-slide
                                .calc__img-wrap
                                    img.calc__img(src="assets/images/print-shirt-min.png", alt="")
                            .swiper-slide
                                .calc__img-wrap
                                    img.calc__img(src="assets/images/print-shirt-2-min.png.png", alt="")
                            .swiper-slide
                                .calc__img-wrap
                                    img.calc__img(src="assets/images/print-shirt-min.png", alt="")
                .calc__wrap
                    .calc__top
                        h2.calc__subtitle.subtitle Толстовка
                        .calc__tabs
                            label.calc__radio-label
                                input.calc__radio-input.visually-hidden(type="radio" name="sex" value="male" checked)
                                span.calc__radio-value Мужская
                            label.calc__radio-label
                                input.calc__radio-input.visually-hidden(type="radio" name="sex" value="female")
                                span.calc__radio-value Женская
                        a.calc__btn.btn-red(href="#") Таблица размеров
                    .calc__cont
                        .calc-table
                            .calc-table__row
                                .calc-table__cell Состав 
                                .calc-table__cell 100% хлопок, плотность 155-165 гр/м2.
                            .calc-table__row
                                .calc-table__cell Количество
                                .calc-table__cell
                                    button.calc-table__btn -
                                    span.calc-table__num 502
                                    button.calc-table__btn +
                            .calc-table__row
                                .calc-table__cell Модель
                                .calc-table__cell.calc-table__cell--select
                                    select.calc-table__select(name="model")
                                        option.calc-table__option(value="") Утеплённая
                                        option.calc-table__option(value="") Утеплённая
                                        option.calc-table__option(value="") Утеплённая
                            .calc-table__row
                                .calc-table__cell Цвет
                                .calc-table__cell 
                                    .calc__colors.calc-colors
                                        .calc-colors
                                        .calc-colors
                                        .calc-colors
                                        .calc-colors
                                        .calc-colors
                                        .calc-colors
                                        .calc-colors
                                        .calc-colors
                                        .calc-colors
                                        .calc-colors
                            .calc-table__row
                                .calc-table__cell
                                    span Принт
                                    svg.calc-table__svg(width="16" height="16")
                                        use(xlink:href="assets/images/sprite.svg#icon-help-circle") 
                                .calc-table__cell.calc-table__cell--select
                                    select.calc-table__select(name="")
                                        option.calc-table__option(value="") Флюресцентная плёнка
                                        option.calc-table__option(value="") Флюресцентная плёнка
                                        option.calc-table__option(value="") Флюресцентная плёнка
                            .calc-table__row
                                .calc-table__cell Файл принта
                                .calc-table__cell
                                    label.form__label.form__label--file 
                                        svg.form__svg(width="16" height="16")
                                            use(xlink:href="assets/images/sprite.svg#icon-paperclip")
                                        input.visually-hidden(type="file" placeholder="Фото")
                                        | Фото
                            .calc-table__row
                                .calc-table__cell
                                    span Метод печати
                                    svg.calc-table__svg(width="16" height="16")
                                        use(xlink:href="assets/images/sprite.svg#icon-help-circle") 
                                .calc-table__cell.calc-table__cell--select
                                    select.calc-table__select(name="")
                                        option.calc-table__option(value="") Шелкография
                                        option.calc-table__option(value="") Шелкография
                                        option.calc-table__option(value="") Шелкография
                            .calc-table__row
                                .calc-table__cell
                                    span Где печатать
                                    svg.calc-table__svg(width="16" height="16")
                                        use(xlink:href="assets/images/sprite.svg#icon-help-circle") 
                                .calc-table__cell.calc-table__cell--select
                                    ul.calc-table__wrap
                                        li.calc-table__item
                                            svg.calc-table__svg(width="70" height="70")
                                                use(xlink:href="assets/images/sprite.svg#tshirt-center")
                                            .calc-table__box
                                                span Грудь
                                                select.calc-table__select(name="")
                                                    option.calc-table__option(value="") А2
                                                    option.calc-table__option(value="") А2
                                                    option.calc-table__option(value="") А2
                                        li.calc-table__item
                                            svg.calc-table__svg(width="70" height="70")
                                                use(xlink:href="assets/images/sprite.svg#tshirt-top")
                                            .calc-table__box
                                                span Спина
                                                select.calc-table__select(name="")
                                                    option.calc-table__option(value="") нет
                                                    option.calc-table__option(value="") нет
                                                    option.calc-table__option(value="") нет
                                        li.calc-table__item
                                            svg.calc-table__svg(width="70" height="70")
                                                use(xlink:href="assets/images/sprite.svg#tshirt-sleeve")
                                            .calc-table__box
                                                span Рукав
                                                select.calc-table__select(name="")
                                                    option.calc-table__option(value="") А6
                                                    option.calc-table__option(value="") А6
                                                    option.calc-table__option(value="") А6
                            .calc-table__row
                                .calc-table__cell Стоимость изделий
                                .calc-table__cell 1 650 ₽
                            .calc-table__row
                                .calc-table__cell Итого
                                .calc-table__cell 2 450 ₽
                        .calc__row
                            button.calc__btn-app.main-btn(type="") Оставить заявку
                            a.calc__btn-print.btn-red(href="#") Нанести принт


