extends ../template

block variables
    - var title = 'Кружки'
    - var aboutText = true
    - var contactForm = true

block content
    main.main.products-cups
        section.products-cups__list
            .catalog__banner
                .container
                    h1.catalog__title.title Кружки
            .container
                include ../components/breadcrumbs.pug

                ul.product__list.clothes-list
                    li.clothes-list__item
                        a.clothes-list__link(href="#")
                            .clothes-list__img-wrap
                                img.clothes-list__img(src="assets/images/products-cups-min.png", alt="Кружки")
                            h3.clothes-list__caption.caption Кружки
                            .clothes-list__btn.main-btn от 1650 ₽
                    li.clothes-list__item
                        a.clothes-list__link(href="#")
                            .clothes-list__img-wrap
                                img.clothes-list__img(src="assets/images/products-cups-min.png", alt="Кружки")
                            h3.clothes-list__caption.caption Кружки
                            .clothes-list__btn.main-btn от 1650 ₽
                    li.clothes-list__item
                        a.clothes-list__link(href="#")
                            .clothes-list__img-wrap
                                img.clothes-list__img(src="assets/images/products-cups-min.png", alt="Кружки")
                            h3.clothes-list__caption.caption Кружки
                            .clothes-list__btn.main-btn от 1650 ₽
                    li.clothes-list__item
                        a.clothes-list__link(href="#")
                            .clothes-list__img-wrap
                                img.clothes-list__img(src="assets/images/products-cups-min.png", alt="Кружки")
                            h3.clothes-list__caption.caption Кружки
                            .clothes-list__btn.main-btn от 1650 ₽
                    li.clothes-list__item
                        a.clothes-list__link(href="#")
                            .clothes-list__img-wrap
                                img.clothes-list__img(src="assets/images/products-cups-min.png", alt="Кружки")
                            h3.clothes-list__caption.caption Кружки
                            .clothes-list__btn.main-btn от 1650 ₽

        section.calc
            .container
                .calc__slider
                    .swiper-container.gallery-top
                        .swiper-wrapper
                            .swiper-slide
                                .calc__img-wrap
                                    img.calc__img(src="assets/images/product-cup.png", alt="")
                            .swiper-slide
                                .calc__img-wrap
                                    img.calc__img(src="assets/images/product-cup.png", alt="")
                    .swiper-container.gallery-thumbs
                        .swiper-wrapper
                            .swiper-slide
                                .calc__img-wrap
                                    img.calc__img(src="assets/images/product-cup.png", alt="")
                            .swiper-slide
                                .calc__img-wrap
                                    img.calc__img(src="assets/images/product-cup.png", alt="")
                .calc__wrap
                    .calc__top
                        h2.calc__subtitle.subtitle Керамическая кружка
                    .calc__cont
                        .calc-table
                            .calc-table__row
                                .calc-table__cell Материал 
                                .calc-table__cell Стекло
                            .calc-table__row
                                .calc-table__cell Количество
                                .calc-table__cell
                                    button.calc-table__btn -
                                    span.calc-table__num 20
                                    button.calc-table__btn +
                            .calc-table__row
                                .calc-table__cell Цвет
                                .calc-table__cell.calc-table__cell--select
                                    select.calc-table__select(name="model")
                                        option.calc-table__option(value="") Синий
                                        option.calc-table__option(value="") Синий
                                        option.calc-table__option(value="") Синий
                            .calc-table__row
                                .calc-table__cell Стоимость изделия
                                .calc-table__cell 800 ₽
                            .calc-table__row
                                .calc-table__cell Итого
                                .calc-table__cell 800 ₽
                        .calc__row
                            button.calc__btn-app.main-btn(type="") Оставить заявку
        section.print-cups
            .container
                .print-cups__text-wrap
                    h2.print-cups__title.title Печать на кружках
                    p.print-cups__text Печать на кружках в современном мире просто необходима, когда Вы хотите сделать приятно близким и любимым людям. Или запечатлить приятные моменты из жизни, напечатав его на кружке.

                    p.print-cups__text Если у вас есть уже готовый макет для печати или только задумка — приходите, мы воплотим любую вашу идею! Печать на кружках в современном мире просто необходима, когда Вы хотите сделать приятно близким и любимым людям. Или запечатлить приятные моменты из жизни, напечатав его на кружке.
                
                .print-cups__slider
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .print-cups__img-wrap
                                    img.print-cups__img(src="assets/images/production-3-min.jpg", alt="")
                                h3.print-cups__caption.caption Архитектурное бюро Асадова
                                p.print-cups__desc Печать на кружках
                            .swiper-slide
                                .print-cups__img-wrap
                                    img.print-cups__img(src="assets/images/production-3-min.jpg", alt="")
                                h3.print-cups__caption.caption Архитектурное бюро Асадова
                                p.print-cups__desc Печать на кружках
                            .swiper-slide
                                .print-cups__img-wrap
                                    img.print-cups__img(src="assets/images/production-3-min.jpg", alt="")
                                h3.print-cups__caption.caption Архитектурное бюро Асадова
                                p.print-cups__desc Печать на кружках
                        .swiper-pagination
                        .swiper-button-prev
                        .swiper-button-next
        include ../components/steps.pug
        include ../components/work-examples.pug

