.catalog__banner {
    min-height: 150px;
    background-image: url('../images/catalog-banner.jpg');
    padding: 45px 0 52px;
}
// .catalog {
//     padding-bottom: 40px;
// }
// .catalog-page {
//     .calc {
//         display: none;

//         &.active {
//             display: block;
//         }
//     }
// }