.contacts {
    padding-bottom: 120px;
    @include w480 {
        padding-bottom: 70px;
    }
}
.contacts__cont-list {
    @include list-reset;
    @include w480 {
        margin-bottom: 30px;
    }
}
.contacts__item {
    display: flex;
    margin-bottom: 23px;

    &:last-of-type {
        margin-bottom: 0;
    }
}
.contacts__svg {
    --icon-color: #{$color-light-black};
    margin-right: 10px;
}
.contacts__address {
    font-style: normal;
    white-space: nowrap;
}
.contacts__wrap {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}
.contacts__wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 272px) minmax(auto, 770px);
    column-gap: 30px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    margin-bottom: 40px;

    @include w480 {
        grid-template-columns: 100%;
        padding-top: 30px;
        margin-bottom: 70px;
    }
}
.contacts__map-wrap {
    grid-column: 2 / -1;
    grid-row: 1 / span 2;
    height: 452px;
    @include w480 {
        grid-column: auto;
        grid-row: auto;
        height: 335px;
        margin-top: 70px;
        margin-right: -15px;
        margin-left: -15px;
    }
}
.contacts__map {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    @include w480 {
        border-radius: 0;
    }
}
.contacts__subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
}
.contacts__num {
    margin-bottom: 15px;
    &:last-of-type {
        margin-bottom: 0;
    }
}

.contacts__text {
    max-width: 627px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.contacts__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    @include w480 {
        grid-template-columns: 100%;
        row-gap: 30px;
    }
}
.contacts__img-wrap {
    height: 230px;
    @include w480 {
        height: 180px;
    }
}
.contacts__img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}