.map-site {
    padding: 50px 0;

    @include w768 {
        overflow-x: scroll;
    }
}
.map-site__table {
    border-collapse: collapse;

}
.map-site__cell {
    border: 1px solid $color-light-black;
}
.map-site__link {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: $color-light-black;
    padding: 10px 20px;
}