.price__products {
    @include w480 {
        padding-top: 30px;
    }
}
.price__table-wrap {
    overflow-x: scroll;
}
.price-table {
    width: 100%;
    text-align: left;
    padding: 25px 25px 35px;
    background-color: $color-blue-grey;
    border-spacing: 10px 15px;
    margin-top: 30px;
    margin-bottom: 50px;

    @include w1024 {
        min-width: max-content;
        margin-bottom: 20px;
    }
}
.price-table__head-cell {
    font-weight: 600;
}
.price-table__body {
    .price-table__head-cell {
        max-width: 389px;
        padding-right: 42px;
    }
}
.price-table__cell {
    text-align: center;
    vertical-align: top;
}
.price-table__head-row-sub {
    .price-table__head-cell {
        text-align: center;
    }
}

.price__print {
    .price-table__head-cell {
        padding-right: 0;

        @include w480 {
            padding-right: 42px;
        }
    }
    .price-table__head-cell {
        &:nth-of-type(2) {
            text-align: left;
        }
    }
    .price-table__cell {
        &:nth-of-type(1) {
            text-align: left;
        }
    }
}
.price__option {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.price__desc {
    font-weight: 600;
}

.price-table--silk {
    .price-table__cell {
        text-align: left;
    }
}

.price__design {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $color-blue-grey;
    padding: 40px 35px 35px;
    margin-top: 30px;
    @include w480 {
        grid-template-columns: 100%;
        row-gap: 30px;

        .price-table__head-cell {
            padding: 0;
        }
    }
}
.price__inner-wrap {
    @include list-reset;
    width: max-content;
    max-width: 100%;
}
p.price-table__head-cell {
    margin-bottom: 15px;
}
.price__inner-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &:not(:last-of-type) {
        margin-bottom: 10px;
    }
}
.price__wrap {
    &:last-of-type {
        .price__inner-item {
            grid-template-columns: 100%;
        }
    }
}
.price-list {
    padding-top: 80px;
    padding-bottom: 120px;
    @include w480 {
        padding-top: 30px;
        padding-bottom: 110px;
    }
    .swiper-pagination {
        bottom: 70px;
    }
}

.price-pointer {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @include w1024 {
        display: flex;
    }
}
.price-pointer__text {
    display: flex;
    align-items: center;

    .price-pointer__svg {
        margin-right: 10px;
    }
}
.price__cont {
    padding-bottom: 40px;
}