.calc-table__cell {
    .form__label {
        height: auto;
        width: 300px;
        font-size: 14px;
        line-height: 16px;
        background: none;
        border: 1px solid $color-grey_2;
        margin-bottom: 0;

        @include w480 {
            max-width: 220px;
        }
    }
}
.calc-table__wrap {
    @include list-reset;
}
.calc-table__item {
    display: flex;
    .calc-table__svg {
        margin-right: 30px;
    }
}

.print-item-list {
    padding-top: 45px;
    padding-bottom: 60px;

    @include w480 {
        padding-top: 25px;
        padding-bottom: 15px;
    }
}
.print-item-list__title {
    margin-bottom: 45px;
    @include w480 {
        margin-bottom: 30px;
    }
}