:root {
	--content-p-r: 0;
}

// Размеры
$content-max-weight: 1240px;

//Colors
$color-black: #000000;
$color-light-black: #2F363D;
$color-foot-grey: #42506B;
$color-blue: #4E72DB;
$color-sat-blue: #315CD8;
$color-dark-grey: #6D6D6D;
$color-bor-grey: #8090AE;
$color-grey_1: #EDEDED;
$color-pr-bg: #EEF4FF;
$color-main-bg: #D8E6FF;
$color-middle-blue: #DAE0F0;
$color-grey_2: #CED3E3;
$color-card-1: #F8D3D4;
$color-blue-grey: #F6F7FA;
$color-grey_6: #F2F2F2;
$color-f-grey: #ADADAD;
$color-grey: #9C9C9C;
$color-white: #FFFFFF;
$color-red: #EF4B4E;
$color-dark-red: #D22B2F;
$color-lighter-black: #616161;

* {
	box-sizing: border-box;
	outline-offset: 4px;
}

body {
	font-family: "Gilroy";
	font-weight: 400;
	font-size: 16px;
	color: $color-light-black;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
p {
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
img {
	max-width: 100%;
	max-height: 100%;
}
// https://github.com/WICG/focus-visible
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
	max-width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main {
	flex: 1;
}

.main-btn, .btn-blue, .btn-red {
	display: flex;
	justify-content: center;
	font-size: 14px;
	line-height: 24px;
	background: none;
	border-radius: 35px;
	border: none;
	text-decoration: none;
	cursor: pointer;
	padding: 10px 0 11px;
	transition: all 0.2s ease 0s;
}

.main-btn {
	width: 170px;
	font-weight: 500;
	color: $color-white;
	background-color: $color-red;
	box-shadow: 0px 0px 8px rgba(239, 75, 78, 0.35);
}

.btn-blue {
	width: 270px;
	font-weight: 600;
	color: $color-blue;
	border: 2px solid $color-blue;

	&:hover {
		color: $color-white;
		background-color: $color-blue;
		transition: all 0.2s ease 0s;
	}
}

.btn-red {
	width: 170px;
	font-weight: 500;
	color: $color-red;
	border: 1px solid $color-red;

	&:hover {
		color: $color-white;
		background-color: $color-red;
		box-shadow: 0px 0px 8px rgba(239, 75, 78, 0.35);
	}
}

.title {
	font-weight: 600;
	font-size: 48px;
	line-height: 110%;
	margin: 0;
}
.subtitle {
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
}
.caption {
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: $color-black;
}

@import "./common/normalize";
@import "./common/fonts";
@import "./common/mixins";

@import "./common/breadcrumbs";
@import "./common/clothes-list";
@import "./common/advantages";
@import "./common/work-examples";
@import "./common//about";
@import "./common/contact";
@import "./common/print-methods";
@import "./common/steps";
@import "./common/pagination";
@import "./common/catalog-calc";

@import "./common/header";
@import "./pages/index";
@import "./pages/main";
@import "./pages/catalog";
@import "./pages/print-item-shirt";
@import "./pages/products";
@import "./pages/products-cups";
@import "./pages/print-cups";
@import "./pages/price";
@import "./pages/blog";
@import "./pages/about-us";
@import "./pages/help";
@import "./pages/portfolio";
@import "./pages/contacts";
@import "./pages/404";
@import "./common/footer";

// @media screen and (max-width: 1274px) {

// }

// @media screen and (max-width: 960px) {

// }

// @media screen and (max-width: 768px) {

// }
