section.about
    .container
        h2.about__title.title Нанесение принта на одежду в Москве
        .about__wrap
            .about__column
                p.about__text Стремитесь объединить коллектив сотрудников или студентов? Планируете дополнить корпоративную культуру в компании? Мечтаете пополнить гардероб стильной одеждой с уникальным рисунком? Хотите удивить друга оригинальным подарком? Печать на одежде позволит решить эти и многие другие задачи.

                p.about__text Компания Fair Print представляет собой сплоченный коллектив опытных специалистов, готовых применить весь свой профессиональный и творческий потенциал для решения любых задач. Приоритетом нашей деятельности является удовлетворение творческих пожеланий клиента и воплощение в жизнь самых смелых и неожиданных дизайнерских задумок.

                p.about__text У нас можно заказать одежду с рисунком оптом или приобрести новый предмет гардероба в единственном экземпляре. Мы рады сотрудничать с постоянными клиентами, предоставляя скидки.

            .about__column
                p.about__text Оптовых покупателей порадуем выполнением срочных заказов. Печатаем крупным тиражом до 10000 изделий. Среди наших постоянных клиентов: НКМЗ-Групп, Вьеткафе, АО «Российский экспортный центр», НИУ ВШЭ, МФТИ, МАИ и другие организации в России.

                p.about__text.about__list-head Наша команда трудится в двух основных направлениях:
                ul.about__list 
                    li.about__item — Нанесение печати на одежду, разработка принта, пошив одежды;
                    li.about__item — Продажа одежды без рисунка.

                p.about__text Для осуществления Ваших идей мы используем только современную технику и передовые технологии. Печать на текстиле производится одним из нескольких способов, среди которых сублимация, цифровая и прямая печать, шелкография, термотрансфер.

                p.about__text Мы выпускаем только качественные изделия, изготовленные из 100% хлопка или с небольшим добавлением синтетических волокон, придающих изделию эластичность и прочность. В производстве применяются такие ткани как пике, футер, турецкий трикотаж и другие.
            button.about__btn.btn-blue(type="button") Развернуть
            button.about__btn--close.btn-blue(type="button") Свернуть