section.advantages
    .container
        h2.advantages__title.title Почему мы?
        ul.advantages__list
            li.advantages__item
                a.advantages__link(href="#")
                    svg.advantages__svg(width="65" height="65")
                        use(xlink:href="assets/images/sprite.svg#icon-medal")
                    h3.advantages__caption.caption Качество
                    p.advantages__text Наши товары производятся из высококачественных материалов настоящими профессионалами для того, чтобы вы чувствовали себя комфортно и свободно
            li.advantages__item
                a.advantages__link(href="#")
                    svg.advantages__svg(width="65" height="65")
                        use(xlink:href="assets/images/sprite.svg#icon-sewing-machine")
                    h3.advantages__caption.caption Собственное производство
                    p.advantages__text Мы шьём одежду сами, внимательно контролируя процесс. Приобретая нашу продукцию, вы получаете её в срок и не переплачиваете за логистику.
            li.advantages__item
                a.advantages__link(href="#")
                    svg.advantages__svg(width="65" height="65")
                        use(xlink:href="assets/images/sprite.svg#icon-rocket")
                    h3.advantages__caption.caption Скорость
                    p.advantages__text Только у нас вы всегда сможете в кратчайшие сроки получить интересующий Вас товар: наши курьеры работают по всей Москве
            li.advantages__item
                a.advantages__link(href="#")
                    svg.advantages__svg(width="65" height="65")
                        use(xlink:href="assets/images/sprite.svg#icon-price")
                    h3.advantages__caption.caption Низкие цены
                    p.advantages__text Сравните наши цены с конкурентами — уверены, они Вас приятно удивят.