.breadcrumbs-list
    .breadcrumbs-list__item
        a.breadcrumbs-list__link(href="#") Главная
        svg.breadcrumbs-list__svg(width="7" height="7")
            use(xlink:href="assets/images/sprite.svg#icon-breadtick")
    .breadcrumbs-list__item
        a.breadcrumbs-list__link(href="#") Товары без рисунка