li.clothes-list__item
    a.clothes-list__link(href="#")
        .clothes-list__img-wrap
            img.clothes-list__img(src="assets/images/hoodies-min.jpg", alt="Толстовки")
        h3.clothes-list__caption.caption Толстовки
        .clothes-list__btn.main-btn от 1650 ₽