ul.clothes-list.swiper-wrapper
    li.clothes-list__item.swiper-slide
        a.clothes-list__link(href="#")
            .clothes-list__img-wrap
                img.clothes-list__img(src="assets/images/hoodies-min.jpg", alt="Толстовки")
            h3.clothes-list__caption.caption Толстовки
            .clothes-list__btn.main-btn от 1650 ₽            
    li.clothes-list__item.swiper-slide
        a.clothes-list__link(href="#")
            .clothes-list__img-wrap
                img.clothes-list__img(src="assets/images/bombers-min.jpg", alt="Бомберы")
            h3.clothes-list__caption.caption Бомберы
            .clothes-list__btn.main-btn от 1650 ₽
    li.clothes-list__item.swiper-slide
        a.clothes-list__link(href="#")
            .clothes-list__img-wrap
                img.clothes-list__img(src="assets/images/polos-min.jpg", alt="Поло")
            h3.clothes-list__caption.caption Поло
            .clothes-list__btn.main-btn от 1650 ₽
    li.clothes-list__item.swiper-slide
        a.clothes-list__link(href="#")
            .clothes-list__img-wrap
                img.clothes-list__img(src="assets/images/sweatshots-min.jpg", alt="Свитшоты")
            h3.clothes-list__caption.caption Свитшоты
            .clothes-list__btn.main-btn от 1650 ₽
    li.clothes-list__item
        a.clothes-list__link(href="#")
            .clothes-list__img-wrap
                img.clothes-list__img(src="assets/images/tshirts-min.jpg", alt="Футболки")
            h3.clothes-list__caption.caption Футболки
            .clothes-list__btn.main-btn от 1650 ₽