section.contact
    .container
        h2.contact__title.title Контакты
        .contact__left
            p.contact__text Если у вас есть вопросы, заполните форму, и мы свяжемся с вами в ближайшее время

            form.contact__form.form(action="#" method="")
                label.form__label
                    input.form__field(type="text" placeholder="Ваше имя")
                label.form__label
                    input.form__field(type="email" placeholder="E-mail")
                label.form__label.form__label--file 
                    svg.form__svg(width="16" height="16")
                        use(xlink:href="assets/images/sprite.svg#icon-paperclip")
                    input.visually-hidden(type="file" placeholder="Фото")
                    | Фото
                textarea.form__field.form__field--comment(name="" placeholder="Ваш запрос по заказу")

                .form__wrap
                    button.form__btn.main-btn(type="submit") Отправить
                    p.form__text Заполняя форму, вы соглашаетесь<br> с <a class="form__link" href="#"> Правилами сайта</a>

        .contact__right
            .contact__map-wrap
                img.contact__map(src="assets/images/map-min.jpg", alt="")
            ul.contact__list.contact-list.footer-top__cont-list
                li.contact-list__item.footer-top__item
                    svg.contact-list__svg.footer-top__svg(width="15" height="16")
                        use(xlink:href="assets/images/sprite.svg#icon-home")
                    address.contact-list__address.footer-top__address Шлюзовая набережная, 6 стр. 4
                li.contact-list__item.footer-top__item
                    svg.contact-list__svg.footer-top__svg(width="16" height="16")
                        use(xlink:href="assets/images/sprite.svg#icon-clock")
                    p Пн – пт с 11:00 до 20:00
                li.contact-list__item.contact-list__item--tels.footer-top__item
                    svg.contact-list__svg.footer-top__svg(width="16" height="16")
                        use(xlink:href="assets/images/sprite.svg#icon-phone")
                    .contact-list__wrap.footer-top__wrap
                        a.contact-list__link.footer-top__link(href="tel:+74992880140") +7 (499) 288-01-40
                        a.contact-list__link.footer-top__link(href="tel:+79037654676") +7 (903) 765-46-76