footer.footer
    .footer__top.footer-top
        .container
            a.footer__logo(href="#")
                img.footer__img(src="assets/images/logo-fair-white.svg", alt="Логотип Fire-Print")
            ul.footer-top__nav-list
                li.footer-top__item
                    a.footer-top__link(href="#") Печать на одежде
                li.footer-top__item
                    a.footer-top__link(href="#") Печать на изделиях
                li.footer-top__item
                    a.footer-top__link(href="#") Товары без рисунка
            ul.footer-top__com-nav
                li.footer-top__item
                    a.footer-top__link(href="#") О нас
                li.footer-top__item
                    a.footer-top__link(href="#") Портфолио
                li.footer-top__item
                    a.footer-top__link(href="#") Блог
                li.footer-top__item
                    a.footer-top__link(href="#") Помощь
                li.footer-top__item
                    a.footer-top__link(href="#") Контакты
                li.footer-top__item
                    a.footer-top__link(href="#") Цены
            ul.footer-top__cont-list
                li.footer-top__item
                    svg.footer-top__svg(width="15" height="16")
                        use(xlink:href="assets/images/sprite.svg#icon-home")
                    address.footer-top__address Шлюзовая набережная, 6 стр. 4
                li.footer-top__item
                    svg.footer-top__svg(width="16" height="16")
                        use(xlink:href="assets/images/sprite.svg#icon-clock")
                    p.footer-top__time Пн – пт с 11:00 до 20:00
            ul.footer-top__tel-list
                li.footer-top__item
                    svg.footer-top__svg(width="16" height="16")
                        use(xlink:href="assets/images/sprite.svg#icon-phone")
                    .footer-top__wrap
                        a.footer-top__link(href="tel:+74992880140") +7 (499) 288-01-40
                        a.footer-top__link(href="tel:+79037654676") +7 (903) 765-46-76
    .footer__bottom.footer-bottom
        .container
            ul.footer-bottom__list
                li.footer-bottom__item FairPrint © 2020. Все права защищены.
                li.footer-bottom__item
                    a.footer-bottom__link(href="#") Политика конфиденциальности
                li.footer-bottom__item
                    a.footer-bottom__link(href="#") Юридическая информация
                li.footer-bottom__item Сделано в
                    a.footer-bottom__link(href="#")  RA-Studio
