.form-popup
    .form-popup__container
        a.popup__logo(href="#")
            img.popup__logo-img(src="assets/images/logo-fair.png", alt="Лого")
        h2.form-popup__title.title Написать нам
        p.form-popup__text Если у вас есть вопросы, заполните форму, и мы свяжемся с вами в ближайшее время
        form.contact__form.form(action="#" method="")
            label.form__label
                input.form__field(type="text" placeholder="Ваше имя")
            label.form__label
                input.form__field(type="email" placeholder="E-mail")
            label.form__label.form__label--file 
                svg.form__svg(width="16" height="16")
                    use(xlink:href="assets/images/sprite.svg#icon-paperclip")
                input.visually-hidden(type="file" placeholder="Фото")
                | Фото
            textarea.form__field.form__field--comment(name="" placeholder="Ваш запрос по заказу")

            .form__wrap
                button.form__btn.main-btn(type="submit") Отправить
                p.form__text Заполняя форму, вы соглашаетесь<br> с <a class="form__link" href="#"> Правилами сайта</a>
        button.form-popup__btn.popup-close(type="button")
            svg.form-popup__svg(width="24" height="24")
                use(xlink:href="assets/images/sprite.svg#icon-close")