header.header
    .header__top.header-top
        .container
            nav.header-top__nav
                ul.header-top__list.header-top__list--left
                    li.header-top__item
                        a.header-top__link(href="#") Блог
                    li.header-top__item
                        a.header-top__link(href="#") О нас
                    li.header-top__item
                        a.header-top__link(href="#") Помощь
                    li.header-top__item
                        a.header-top__link(href="#") Контакты

                ul.header-top__list.header-top__list--right
                    li.header-top__item
                        a.header-top__link(href="mailto:myfairprint@gmail.com") myfairprint@gmail.com
                    li.header-top__item
                        a.header-top__link(href="tel:+74992880140") +7 499 288-01-40
                    li.header-top__item
                        a.header-top__link(href="tel:+79037654676") +7 903 765-46-76
    .header__main.header-main
        .container
            a.header-main__logo(href="#")
                img(src="assets/images/logo-fair.png", alt="Логотип Fire-Print")
            button.header__toggle
                span.header__toggle-middle
                
            nav.header-main__nav
                ul.header-main__list
                    li.header-main__item
                        a.header-main__link(href="#") Печать на одежде
                        .header-main__inner-menu.header-main__inner-menu--clothes
                            ul.inner-list
                                li.inner-list__item
                                    a.inner-list__link(href="#") Печать на толстовках
                                li.inner-list__item
                                    a.inner-list__link(href="#") Печать на футболках
                                li.inner-list__item
                                    a.inner-list__link(href="#") Печать на свитшотах
                                li.inner-list__item
                                    a.inner-list__link(href="#") Печать на поло
                                li.inner-list__item
                                    a.inner-list__link(href="#") Печать на бомберах
                    li.header-main__item
                        a.header-main__link(href="#") Печать на изделиях
                        .header-main__inner-menu.header-main__inner-menu--products
                            ul.inner-list
                                li.inner-list__item
                                    a.inner-list__link(href="#") Печать на толстовках
                                li.inner-list__item
                                    a.inner-list__link(href="#") Печать на футболках
                                li.inner-list__item
                                    a.inner-list__link(href="#") Печать на свитшотах
                                li.inner-list__item
                                    a.inner-list__link(href="#") Печать на поло
                                li.inner-list__item
                                    a.inner-list__link(href="#") Печать на толстовках
                                li.inner-list__item
                                    a.inner-list__link(href="#") Печать на футболках
                                li.inner-list__item
                                    a.inner-list__link(href="#") Печать на свитшотах
                                li.inner-list__item
                                    a.inner-list__link(href="#") Печать на поло
                                li.inner-list__item
                                    a.inner-list__link(href="#") Печать на толстовках
                                li.inner-list__item
                                    a.inner-list__link(href="#") Печать на футболках
                                li.inner-list__item
                                    a.inner-list__link(href="#") Печать на свитшотах
                                li.inner-list__item
                                    a.inner-list__link(href="#") Печать на поло
                    li.header-main__item
                        a.header-main__link(href="#") Товары без рисунка
                        .header-main__inner-menu.header-main__inner-menu--without
                            .header-main__inner-wrap
                                ul.inner-list
                                    li.inner-list__item.inner-list__item--title Одежда без рисунка
                                    li.inner-list__item
                                        a.inner-list__link(href="#") Печать на толстовках
                                    li.inner-list__item
                                        a.inner-list__link(href="#") Печать на футболках
                                    li.inner-list__item
                                        a.inner-list__link(href="#") Печать на свитшотах
                                    li.inner-list__item
                                        a.inner-list__link(href="#") Печать на поло
                                    li.inner-list__item
                                        a.inner-list__link(href="#") Печать на бомберах

                                ul.inner-list
                                    li.inner-list__item.inner-list__item--title Изделия без рисунка
                                    li.inner-list__item
                                        a.inner-list__link(href="#") Маски
                                    li.inner-list__item
                                        a.inner-list__link(href="#") Рюкзаки
                                    li.inner-list__item
                                        a.inner-list__link(href="#") Чехлы для телефонов
                                    li.inner-list__item
                                        a.inner-list__link(href="#") Печать на свитшотах
                                    li.inner-list__item
                                        a.inner-list__link(href="#") Печать на поло
                                    li.inner-list__item
                                        a.inner-list__link(href="#") Печать на толстовках
                                    li.inner-list__item
                                        a.inner-list__link(href="#") Печать на футболках
                                    li.inner-list__item
                                        a.inner-list__link(href="#") Печать на свитшотах
                                    li.inner-list__item
                                        a.inner-list__link(href="#") Печать на поло
                                    li.inner-list__item
                                        a.inner-list__link(href="#") Печать на толстовках
                                    li.inner-list__item
                                        a.inner-list__link(href="#") Печать на футболках
                                    li.inner-list__item
                                        a.inner-list__link(href="#") Печать на свитшотах
                                    li.inner-list__item
                                        a.inner-list__link(href="#") Печать на поло
                            
                    li.header-main__item
                        a.header-main__link(href="#") Цены
                    li.header-main__item
                        a.header-main__link(href="#") Портфолио

            .header-main__right
                form.header-main__form(action="#" method="")
                    input.header-main__search(type="search" placeholder="Введите запрос")
                    button.header-main__search-submit(type="submit")
                        svg.header-main__search-icon(width="24" height="24")
                            use(xlink:href="assets/images/sprite.svg#icon-search")
                button.header-main__btn.main-btn.js-write(type="button") Написать нам

            .header-main__mobile.burger-menu
                form.header-main__form(action="#" method="")
                    input.header-main__search(type="search" placeholder="Введите запрос")
                    button.header-main__search-submit(type="submit")
                        img(src="assets/images/svg/icon-search.svg", alt="")
                nav.burger-menu__nav
                    ul.burger-menu__list
                        li.burger-menu__item
                            a.burger-menu__link(href="#") Печать на одежде
                        li.burger-menu__item
                            a.burger-menu__link(href="#") Печать на изделиях
                        li.burger-menu__item
                            a.burger-menu__link(href="#") Товары без рисунка
                        li.burger-menu__item
                            a.burger-menu__link(href="#") Цены
                        li.burger-menu__item
                            a.burger-menu__link(href="#") Портфолио
                    ul.burger-menu__com-list
                        li.burger-menu__com-item
                            a.burger-menu__com-link(href="#") Блог
                        li.burger-menu__com-item
                            a.burger-menu__com-link(href="#") О нас
                        li.burger-menu__com-item
                            a.burger-menu__com-link(href="#") Помощь
                        li.burger-menu__com-item
                            a.burger-menu__com-link(href="#") Контакты
                button.header-main__btn.main-btn.js-write(type="button") Написать нам
                ul.burger-menu__cont-list
                    li.burger-menu__cont-item
                        a.burger-menu__cont-link(href="tel:+74992880140") +7 499 288-01-40
                    li.burger-menu__cont-item
                        a.burger-menu__cont-link(href="tel:+79037654676") +7 903 765-46-76
                    li.burger-menu__cont-item
                        a.burger-menu__cont-link(href="mailto:myfairprint@gmail.com") myfairprint@gmail.com
