section.print-methods
    .container
        h2.print-methods__title.title Способы печати

        ul.print-methods__list
            li.print-methods__item
                .print-methods__img-wrap
                    img.print-methods__img(src="assets/images/production-1-min.jpg", alt="")
                h3.print-methods__caption.caption Сублимация
                p.print-methods__text Идеально для печати фотографий и многоцветных изображений размером до 40см х 50см на светлых вещах
            li.print-methods__item
                .print-methods__img-wrap
                    img.print-methods__img(src="assets/images/production-1-min.jpg", alt="")
                h3.print-methods__caption.caption Сублимация
                p.print-methods__text Идеально для печати фотографий и многоцветных изображений размером до 40см х 50см на светлых вещах
            li.print-methods__item
                .print-methods__img-wrap
                    img.print-methods__img(src="assets/images/production-1-min.jpg", alt="")
                h3.print-methods__caption.caption Сублимация
                p.print-methods__text Идеально для печати фотографий и многоцветных изображений размером до 40см х 50см на светлых вещах
            li.print-methods__item
                .print-methods__img-wrap
                    img.print-methods__img(src="assets/images/production-1-min.jpg", alt="")
                h3.print-methods__caption.caption Сублимация
                p.print-methods__text Идеально для печати фотографий и многоцветных изображений размером до 40см х 50см на светлых вещах