.size-table
    .size-table__container
        a.popup__logo(href="#")
            img.popup__logo-img(src="assets/images/logo-fair.png", alt="Лого")
        h2.size-table__title Таблица размеров

        .size-table__wrap
            .size-table__top Пропорции тела и размеры | Толстовки
            table.size-table__table
                tbody.size-table__body
                    tr.size-table__row.size-table__row--head
                        th.size-table__cell Размер
                        th.size-table__cell XS
                        th.size-table__cell S
                        th.size-table__cell M
                        th.size-table__cell L
                        th.size-table__cell XL
                        th.size-table__cell XXL
                    tr.size-table__row
                        td.size-table__cell Соответсвтует
                        td.size-table__cell 42-44
                        td.size-table__cell 44-46
                        td.size-table__cell 46-48
                        td.size-table__cell 48-50
                        td.size-table__cell 52-54
                        td.size-table__cell 54-56
                    tr.size-table__row
                        td.size-table__cell Ширина
                        td.size-table__cell 48
                        td.size-table__cell 50
                        td.size-table__cell 52
                        td.size-table__cell 54
                        td.size-table__cell 56
                        td.size-table__cell 58
                    tr.size-table__row
                        td.size-table__cell Длина
                        td.size-table__cell 66
                        td.size-table__cell 68
                        td.size-table__cell 70
                        td.size-table__cell 72
                        td.size-table__cell 74
                        td.size-table__cell 76
                    tr.size-table__row
                        td.size-table__cell Допуск (+\-), см
                        td.size-table__cell 2
                        td.size-table__cell 2
                        td.size-table__cell 2
                        td.size-table__cell 2
                        td.size-table__cell 2
                        td.size-table__cell 2

        .size-table__wrap
            .size-table__top Пропорции тела и размеры | Футболки
            table.size-table__table
                tbody.size-table__body
                    tr.size-table__row
                        th.size-table__cell Размер
                        th.size-table__cell XS
                        th.size-table__cell S
                        th.size-table__cell M
                        th.size-table__cell L
                        th.size-table__cell XL
                        th.size-table__cell XXL
                    tr.size-table__row
                        td.size-table__cell Соответсвтует
                        td.size-table__cell 42-44
                        td.size-table__cell 44-46
                        td.size-table__cell 46-48
                        td.size-table__cell 48-50
                        td.size-table__cell 52-54
                        td.size-table__cell 54-56
                    tr.size-table__row
                        td.size-table__cell Ширина
                        td.size-table__cell 48
                        td.size-table__cell 50
                        td.size-table__cell 52
                        td.size-table__cell 54
                        td.size-table__cell 56
                        td.size-table__cell 58
                    tr.size-table__row
                        td.size-table__cell Длина
                        td.size-table__cell 66
                        td.size-table__cell 68
                        td.size-table__cell 70
                        td.size-table__cell 72
                        td.size-table__cell 74
                        td.size-table__cell 76
                    tr.size-table__row
                        td.size-table__cell Допуск (+\-), см
                        td.size-table__cell 2
                        td.size-table__cell 2
                        td.size-table__cell 2
                        td.size-table__cell 2
                        td.size-table__cell 2
                        td.size-table__cell 2

        .size-table__wrap
            .size-table__top Пропорции тела и размеры | Свитшоты
            table.size-table__table
                tbody.size-table__body
                    tr.size-table__row
                        th.size-table__cell Размер
                        th.size-table__cell XS
                        th.size-table__cell S
                        th.size-table__cell M
                        th.size-table__cell L
                        th.size-table__cell XL
                        th.size-table__cell XXL
                    tr.size-table__row
                        td.size-table__cell Соответсвтует
                        td.size-table__cell 42-44
                        td.size-table__cell 44-46
                        td.size-table__cell 46-48
                        td.size-table__cell 48-50
                        td.size-table__cell 52-54
                        td.size-table__cell 54-56
                    tr.size-table__row
                        td.size-table__cell Ширина
                        td.size-table__cell 48
                        td.size-table__cell 50
                        td.size-table__cell 52
                        td.size-table__cell 54
                        td.size-table__cell 56
                        td.size-table__cell 58
                    tr.size-table__row
                        td.size-table__cell Длина
                        td.size-table__cell 66
                        td.size-table__cell 68
                        td.size-table__cell 70
                        td.size-table__cell 72
                        td.size-table__cell 74
                        td.size-table__cell 76
                    tr.size-table__row
                        td.size-table__cell Допуск (+\-), см
                        td.size-table__cell 2
                        td.size-table__cell 2
                        td.size-table__cell 2
                        td.size-table__cell 2
                        td.size-table__cell 2
                        td.size-table__cell 2

        button.size-table__btn.popup-close(type="button")
            svg.size-table__svg(width="24" height="24")
                use(xlink:href="assets/images/sprite.svg#icon-close")
                