section.steps
    .container
        h2.steps__title.title Как получить заказ
        ol.steps__list
            li.steps__item
                h3.steps__caption.caption Отправьте заявку
                p.steps__text Наши менеджеры связываются с Вами и обсуждают детали заказа перед запуском в производство, так что вы можете быть уверены в результате
                a.steps__btn.main-btn.js-write(href="#") Написать нам
            li.steps__item
                h3.steps__caption.caption Мы обработаем и выполним заказ
                p.steps__text После утверждения макета и внесения предоплаты заказ запускается в печать. Среднее время выполнение заказа составляет 3-4 дня.
            li.steps__item
                h3.steps__caption.caption Быстро доставим
                p.steps__text По готовности заказа вам придут уведомления на почту и телефон. Заказ можно получить любым удобным способом (доставка, самовывоз).