section.work-examples
    .container
        h2.work-examples__title.title Примеры работ

        .work-examples__swiper.swiper-container
            ul.work-examples__list.swiper-wrapper
                li.work-examples__item.swiper-slide
                    .work-examples__img-wrap
                        img(src="assets/images/production-1-min.png", alt="")
                    h3.work-examples__caption.caption Школа кураторов НИУ ВШЭ
                    p.work-examples__text Заказ футболок с композитной печатью термопленкой
                li.work-examples__item.swiper-slide
                    .work-examples__img-wrap
                        img(src="assets/images/production-2-min.png", alt="")
                    h3.work-examples__caption.caption Клевер Мясо
                    p.work-examples__text Заказ футболок с композитной печатью термопленкой
                li.work-examples__item.swiper-slide
                    .work-examples__img-wrap
                        img(src="assets/images/production-3-min.png", alt="")
                    h3.work-examples__caption.caption Архитектурное бюро Асадова
                    p.work-examples__text Заказ футболок с композитной печатью термопленкой
                li.work-examples__item.swiper-slide
                    .work-examples__img-wrap
                        img(src="assets/images/production-1-min.png", alt="")
                    h3.work-examples__caption.caption Школа кураторов НИУ ВШЭ
                    p.work-examples__text Заказ футболок с композитной печатью термопленкой
            .swiper-pagination
            .swiper-button-prev
            .swiper-button-next


            