.about {
    padding-top: 67.5px;
    padding-bottom: 120px;

    @include w480 {
        padding-top: 35px;
        padding-bottom: 33px;
    }
}
.about__title {
    margin-bottom: 45px;
}
.about__wrap {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // column-gap: 30px;

    // @include w480 {
    //     grid-template-columns: 1fr;
    // }

    &.more {
        .about__column {
            display: block;
            transition: all 0.2s ease 0s;
        }
    }
}
.about__column {
    @include w480 {
        display: none;
        transition: all 0.2s ease 0s;
        &:first-of-type {
            display: block;
        }
    }
}
.about__text {
    margin-bottom: 20px;

    &:last-of-type {
        margin: 0;
    }
}
.about__btn {
    display: none;

    @include w480 {
        display: flex;
        margin-top: 30px;
    }
}
.about__btn--close {
    display: none;
    margin-top: 30px;
}
.about__list-head {
    margin-bottom: 0;
}
.about__list {
    @include list-reset;
}

header.main .container .row .header-test {
    position: relative;
    padding-left: 23px;
}
.header-test::before {
    position: absolute;
    content: "";
    top: 12px;
    left: 0;
    width: 15px;
    height: 15px;
    background: url('/img/pics/icon-geolocation.png');
    background-repeat: no-repeat;
    background-size: contain;
}