.calc {
    padding-top: 55px;
    padding-bottom: 52px;
    background-color: $color-blue-grey;
    margin-bottom: 45px;

    .container {
        display: grid;
        grid-template-columns: minmax(auto, 470px) 1fr;
        column-gap: 30px;

        @include w768 {
            grid-template-columns: minmax(auto, 100%);
        }
    }
    @include w1024 {
        padding-top: 30px;

    }
    @include w480 {
        padding: 30px 0 50px;
        margin-bottom: 25px;
    }
}
.js-calc {
    display: none;
    &.show {
        display: block;
    }
}

.gallery-top {
    margin-bottom: 25px;
    .calc__img-wrap {
        max-width: 470px;
        max-height: 568px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(0deg, #E5E5E5, #E5E5E5);
        border-radius: 4px;

        @include w480 {
            max-width: 291px;
            max-height: 350px;
        }
    }
    .swiper-pagination {
        display: none;
        @include w768 {
            display: block;
            bottom: 0;
        }
    }
    .swiper-slide {
        @include w1024 {
            display: flex;
            justify-content: center;
        }
    }
    @include w1024 {
        padding-bottom: 25px;
        margin-bottom: 30px;
    }
}
.gallery-thumbs {
    .calc__img-wrap {
        width: 70px;
        height: 100px;
        cursor: pointer;
        background: linear-gradient(0deg, #E5E5E5, #E5E5E5), url(image_2020-06-18_13-56-50-450x650.png);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @include w768 {
        display: none;
    }
}
.calc--clothes {
    .calc__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 4px;
    }
}
.calc__top {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.calc__subtitle {
    line-height: 40px;
    align-self: baseline;
    @include w480 {
        display: none;
    }
}
.calc__tabs {
    display: flex;
    margin: 0 30px;
    @include w480 {
        margin: 0 auto;
    }
}
.calc__radio-label {
    display: flex;

    &:first-of-type .calc__radio-value {
        border-radius: 35px 0 0 35px;
        margin-right: -2px;
    }
    &:last-of-type .calc__radio-value {
        border-radius: 0 35px 35px 0;
    }
}
.calc__radio-value {
    line-height: 24px;
    border: 2px solid $color-blue;
    color: $color-blue;
    padding: 8px 22px;
    cursor: pointer;
}
.calc__radio-input:checked + .calc__radio-value {
    background-color: $color-blue;
    color: $color-grey_6;
}
.calc__btn {
    @include w1024 {
        display: none;
    }
}
.calc__cont {
    max-width: 500px;
}
.calc--clothes {
    .calc__cont {
        display: none;

        &.active {
            display: block;
        }
    }
}
.calc__row {
    display: flex;
    margin-top: 35px;

    @include w480 {
        flex-direction: column;
    }
}
.calc__btn-app {
    width: 300px;
    margin-right: 30px;
    @include hover-red;

    @include w480 {
        width: 214px;
        margin-right: 0;
        margin-bottom: 15px;
    }
}
.calc__btn-print {
    @include w480 {
        width: 214px;
    }
}
.calc-colors {
    @include list-reset;
}

.calc-table {
    width: 100%;
}
.calc-table__row {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 300px);
    column-gap: 30px;
    align-items: center;
    margin-top: 22px;

    @include w480 {
        grid-template-columns: 100%;
        row-gap: 15px;
        margin-top: 30px;
    }

    &:first-of-type {
        margin-top: 0;
        @include w480 {
            row-gap: 5px;
        }
    }
    &:last-of-type {
        margin-top: 20px;
    }
    &:nth-last-of-type(2) {
        .calc-table__cell:last-of-type {
            font-weight: 600;
            text-align: right;
        }
        @include w480 {
            grid-template-columns: 1fr max-content;
        }
    }
    &:last-of-type {
        .calc-table__cell:first-of-type {
            font-size: 22px;
            line-height: 26px;
        }
        .calc-table__cell:last-of-type {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            text-align: right;
        }
        @include w480 {
            grid-template-columns: 1fr max-content;
        }
    }
    .calc__btn {
        display: none;
        @include w1024 {
            display: flex;
            margin-top: 20px;
        }
    }
}
.calc-table__row--sum {
    margin-top: 30px;
    
    .calc-table__cell:last-of-type {
        font-weight: 600;
        text-align: right;
    }
    @include w480 {
        grid-template-columns: 1fr max-content;
    }
}
.calc-table__row--print {
    margin-top: 10px;
}
.calc-table__row--place {
    align-items: flex-start;
}
.calc-table__cell {
    &:first-of-type {
        font-weight: 500;
    }
}
.calc-table__num {
    margin: 0 13px;
    color: $color-lighter-black;
}
.calc-table__btn {
    width: 35px;
    height: 35px;
    border: none;
    background: none;
    background-color: $color-blue;
    border-radius: 50%;
    color: $color-white;
    cursor: pointer;
    padding: 0;

    &:active {
        background-color: $color-sat-blue;
    }
}
.calc-table__select {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    background: none;
    border: 1px solid #CED3E3;
    border-radius: 30px;
    padding: 11px 20px 13px;
    appearance: none;
    cursor: pointer;
}
.calc-table__cell--select {
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 19px;
        height: 15px;
        background-image: url('../images/sprite.svg#icon-tabcheck');
        background-repeat: no-repeat;
        top: 15px;
        right: 20px;
        transition: all 0.2s ease 0s;
    }
    &.active::after {
        transform: rotate(180deg);
        transition: all 0.2s ease 0s;
        top: 13px;
    }
    @include w480 {
        max-width: 250px;
    }
}
.calc-table__box {
    width: 199px;

    span {
        display: block;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
    }
}
.calc-table__item {
    &:not(:last-of-type) {
        margin-bottom: 19px;
    }
    .calc-table__svg {
        width: 70px;
        height: 70px;
    }
}
.calc-table__cell--hint {
    display: flex;
    align-items: center;
}
.calc-table__hint {
    display: flex;
    margin-left: 15px;
}
.calc-colors {
    display: flex;
    justify-content: center;
    @include w480 {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}
.calc-colors__item {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $color-lighter-black;

    &:not(:last-of-type) {
        margin-right: 14px;
    }
    @include w480 {
        margin-bottom: 5px;
    }
}