.contact {
    background-color: $color-middle-blue;
    padding-top: 58px;
    padding-bottom: 58px;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 11.5%;
        row-gap: 15px;
    }
}
.contact__title {
    grid-column: 1 / -1;
}
.contact__text {
    max-width: 483px;
    margin-bottom: 54px;
}
.form {
    display: flex;
    flex-direction: column;
}
.form__label {
    height: 45px;
    margin-bottom: 10px;
}
.form__field, .form__label--file  {
    width: 100%;
    background: $color-white;
    border: 1px solid #F0F0F0;
    border-radius: 30px;
    padding: 11px 20px 12px;

    &::placeholder {
        color: $color-f-grey;
    }
}
.form__label--file {
    display: flex;
    align-items: center;
    color: $color-f-grey;
    cursor: pointer;
}
.form__svg {
    margin-right: 10px;
}
.form__field--comment {
    height: 120px;
    resize: none;
}
.form__wrap {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.form__btn {
    @include hover-red;
}
.form__text {
    font-size: 14px;
    line-height: 16px;
    margin-left: 23px;
}
.form__link {
    color: $color-blue;
}

.contact__map-wrap {
    width: 570px;
    margin-bottom: 25px;
}
.contact__map {
    width: 100%;
    border-radius: 15px;
}
.contact__right {
    .contact__list {
        grid-template-columns: 1fr max-content;
        column-gap: 78px;
        row-gap: 11px;
        @include list-reset;
        padding-left: 11px;
    }
    .contact-list__item--tels {
        grid-column: 2 / -1;
        grid-row: 1 / span 2;
    }
    .contact-list__wrap {
        row-gap: 11px;
    }
    .contact-list__link {
        color: inherit;
    }
    .contact-list__svg {
        --icon-color: #2F363D;
    }
}
