.contact {
    background-color: $color-middle-blue;
    padding-top: 58px;
    padding-bottom: 58px;

    .container {
        display: grid;
        grid-template-columns: minmax(auto, 477px) minmax(auto, 570px);
        justify-content: space-between;
        column-gap: 20px;
        row-gap: 15px;

        @include w480 {
            grid-template-columns: 1fr;
            row-gap: 25px;
        }
    }

    @include w480 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.contact__title {
    grid-column: 1 / -1;
}
.contact__text {
    max-width: 483px;
    margin-bottom: 54px;

    @include w480 {
        margin-bottom: 24px;
    }
}
.form {
    display: flex;
    flex-direction: column;
}
.form__label {
    height: 45px;
    margin-bottom: 10px;
}
.form__field, .form__label--file  {
    width: 100%;
    background: $color-white;
    border: 1px solid #F0F0F0;
    border-radius: 30px;
    padding: 11px 20px 12px;

    &::placeholder {
        color: $color-f-grey;
    }
}
.form__label--file {
    display: flex;
    align-items: center;
    color: $color-f-grey;
    cursor: pointer;
}
.form__svg {
    margin-right: 10px;
}
.form__field--comment {
    height: 120px;
    resize: none;
}
.form__wrap {
    display: flex;
    align-items: center;
    margin-top: 20px;

    @include w480 {
        flex-direction: column;
        align-items: flex-start;
    }
}
.form__btn {
    @include hover-red;

    @include w480 {
        width: 214px;
    }
}
.form__text {
    font-size: 14px;
    line-height: 16px;
    margin-left: 23px;

    @include w480 {
        font-size: 11px;
        margin-left: 0;
        margin-top: 10px;

        br {
            display: none;
        }
    }
}
.form__link {
    color: $color-blue;
}

.contact__map-wrap {
    margin-bottom: 25px;

    @include w480 {
        width: 115%;
        height: 335px;
        margin: 0 -15px;
        margin-bottom: 22px;
    }
}
.contact__map {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;

    @include w480 {
        height: 100%;
        border-radius: 0;
    }
}
.contact__right {
    .contact__list {
        grid-template-columns: 1fr max-content;
        column-gap: 30px;
        row-gap: 11px;
        @include list-reset;
        padding-left: 11px;

        @include w480 {
            grid-template-columns: 1fr;
        }
    }
    .contact-list__item--tels {
        grid-column: 2 / -1;
        grid-row: 1 / span 2;

        @include w480 {
            grid-column: auto;
            grid-row: auto;
        }
    }
    .contact-list__wrap {
        row-gap: 11px;
    }
    .contact-list__link {
        color: inherit;
    }
    .contact-list__svg {
        --icon-color: #2F363D;
    }
}
