.main-form-popup {
    display: none;
    &.active {
        display: block;
    }
}
.form-popup {
    &::before {
        content: '';
        position: fixed;
        width: 100%; 
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        z-index: 15;
    }
}
.form-popup__container {
    position: fixed;
    max-width: 600px;
    height: fit-content;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 50px 60px 48px;
    background-color: $color-white;
    border-radius: 15px;
    z-index: 20;
}
.form-popup__text {
    margin-top: 15px;
    margin-bottom: 40px;
}
