.header-top {
    background-color: $color-grey_1;
    padding: 17px 15px;

    @include w768 {
        display: none;
    }
}
.header-top__nav {
    display: flex;
    justify-content: space-between;
}
.header-top__list {
    display: flex;
    @include list-reset;
}
.header-top__item {
    margin-right: 30px;

    &:last-of-type {
        margin-right: 0;
    }
}
.header-top__link {
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: $color-dark-grey;

    &:hover {
        color: $color-light-black;
        transition: all 0.2s ease 0s;
    }
}

.header-main {
    padding: 15px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
}
.header-main__logo {
    @include w1024 {
        width: 150px;
    }
    @include w480 {
        width: 101px;
        height: 13px;
    }
}
.header-main__nav {
    @include w768 {
        display: none;
    }
}
.header-main__list {
    display: flex;
    @include list-reset;
}
.header-main__item {
    &:not(:last-of-type) {
        margin-right: 30px;
        @include w1024 {
            margin-right: 20px;
        }
    }
}
.header-main__link {
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
    color: $color-light-black;

    &:hover {
        color: $color-blue;
        transition: all 0.2s ease 0s;
    }
    @include w1024 {
        font-size: 14px;
    }
}
.header-main__inner-menu {
    width: max-content;
    display: none;
    position: absolute;
    background-color: $color-white;
    padding: 30px 40px;
    align-items: flex-start;
    top: 145%;
    z-index: 2;

    .header-main__link:hover + & {
        display: block;
    }
}
.header-main__inner-menu--clothes {
    left: 201px;
    .inner-list {
        grid-template-columns: 1fr 1fr;
    }
}
.header-main__inner-menu--products {
    left: 190px;
    .inner-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.header-main__inner-menu--without {
    left: 5px;
    .header-main__link:hover + & {
        display: grid;
        grid-template-columns: max-content max-content;
        column-gap: 70px;
    }
    .inner-list:first-of-type {
        grid-template-columns: 1fr 1fr;
    }
    .inner-list:last-of-type {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.inner-list {
    display: grid;
    @include list-reset;
    column-gap: 70px;
    row-gap: 15px;
}
.inner-list__link {
    color: inherit;
}
.inner-list__item--title {
    grid-column: 1 / -1;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: $color-blue;
}
.header-main__right {
    display: flex;
    align-items: center;

    @include w768 {
        display: none;
    }
}
.header-main__form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    margin-right: 12px;
}
.header-main__search {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    border: none;
    background-color: $color-white;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    z-index: 2;

    &:focus {
        width: 300px;
        z-index: 1;
        background-color: $color-white;
        border: 1px solid $color-grey_1;
    }
}
.header-main__search-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
.header-main__btn {
    box-shadow: none;
    @include hover-red;
}

.header__toggle {
    display: none;
    position: relative;
    width: 19px;
    height: 13px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    &::before {
        position: absolute;
        content: '';
        width: 19px;
        height: 1px;
        background-color: $color-black;
        top: 0;
        left: 0;
    }
    &::after {
        position: absolute;
        content: '';
        width: 19px;
        height: 1px;
        background-color: $color-black;
        bottom: 0;
        left: 0;
    }

    @include w768 {
        display: flex;
        align-items: center;
    }
}
.header__toggle-middle {
    width: 19px;
    height: 1px;
    background-color: $color-black;
}

.burger-menu {
    display: none;
    @include w768 {
        position: absolute;
        // display: grid;
        grid-template-columns: 100%;
        background-color: $color-white;
    }
}