.header {
    position: relative;
}

.header-top {
    background-color: $color-grey_1;
    padding: 17px 15px;

    @include w768 {
        display: none;
    }
}
.header-top__nav {
    display: flex;
    justify-content: space-between;
}
.header-top__list {
    display: flex;
    @include list-reset;
}
.header-top__item {
    margin-right: 30px;

    &:last-of-type {
        margin-right: 0;
    }
}
.header-top__link {
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: $color-dark-grey;

    &:hover {
        color: $color-light-black;
        transition: all 0.2s ease 0s;
    }
}

.header-main {
    .container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
}
.header-main__logo {
    @include w1024 {
        width: 150px;
    }
    @include w480 {
        width: 101px;
        height: 15px;
    }
}
.header-main__nav {
    @include w768 {
        display: none;
    }
}
.header-main__list {
    display: flex;
    @include list-reset;
}
.header-main__inner-menu {
    position: absolute;
    display: none;
    width: max-content;
    background-color: $color-white;
    padding: 30px 40px;
    align-items: flex-start;
    top: 105%;
    z-index: 2;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: transparent;
        top: -30px;
        left: 0;
    }
}
.header-main__item {
    &:not(:last-of-type) {
        margin-right: 30px;
        @include w1024 {
            margin-right: 20px;
        }
    }
    &:hover {
        cursor: pointer;
        z-index: 2;

        .header-main__inner-menu {
            display: block;
        }
        .header-main__link {
            color: $color-blue;
            transition: all 0.1s ease 0s;
        }
    }
}
.header-main__link {
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
    color: $color-light-black;

    &.active, &:hover {
        color: $color-blue;
        transition: all 0.2s ease 0s;
    }
    @include w1024 {
        font-size: 14px;
    }
}
.header-main__inner-menu--clothes {
    left: 201px;
    .inner-list {
        grid-template-columns: 1fr 1fr;
    }
}
.header-main__inner-menu--products {
    left: 190px;
    .inner-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.header-main__inner-menu--without {
    width: 99%;
    left: 5px;
}
.header-main__inner-wrap {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 70px;
    align-items: flex-start;
    .inner-list:first-of-type {
        grid-template-columns: 1fr 1fr;
    }
    .inner-list:last-of-type {
        grid-template-columns: 1fr 1fr 1fr;

        @include w1024 {
            grid-template-columns: 1fr 1fr;
        }
    }
}
.inner-list {
    display: grid;
    @include list-reset;
    column-gap: 70px;
    row-gap: 15px;
}
.inner-list__link {
    color: inherit;
    &.active, &:hover {
        color: $color-blue;
        transition: all 0.1s ease 0s;
    }
}
.inner-list__item--title {
    grid-column: 1 / -1;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: $color-blue;
}
.header-main__right {
    display: flex;
    align-items: center;

    @include w768 {
        display: none;
    }
}
.header-main__form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    margin-right: 12px;
}
.header-main__search {
    position: absolute;
    right: -6px;
    width: 0;
    height: 100%;
    background: transparent;
    border: none;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    z-index: 2;
    padding: 15px;

    &:focus {
        width: 300px;
        height: 40px;
        z-index: 1;
        background-color: $color-white;
        border: 1px solid $color-grey_1;
        border-radius: 25px;
        outline: none;
    }
    &:focus + .header-main__search-submit {
        z-index: 3;
    }
}
.header-main__search-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
.header-main__btn {
    box-shadow: none;
    @include hover-red;
}

.header__toggle {
    display: none;
    position: relative;
    width: 19px;
    height: 13px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    &::before {
        position: absolute;
        content: '';
        width: 19px;
        height: 1px;
        background-color: $color-black;
        top: 0;
        left: 0;
        transition: all 0.2s ease 0s;
    }
    &::after {
        position: absolute;
        content: '';
        width: 19px;
        height: 1px;
        background-color: $color-black;
        bottom: 0;
        left: 0;
        transition: all 0.2s ease 0s;
    }

    &.active {
        width: 15px;
        height: 15px;
        .header__toggle-middle {
            display: none;
            transition: all 0.2s ease 0s;
        }
    }
    &.active::before {
        transform: rotate(45deg) translate(3px, 7px);
        transition: all 0.2s ease 0s;
    }
    &.active::after {
        transform: rotate(-45deg) translate(3px, -7px);
        transition: all 0.2s ease 0s;
    }

    @include w768 {
        display: flex;
        align-items: center;
    }
}
.header__toggle-middle {
    width: 19px;
    height: 1px;
    background-color: $color-black;
    transition: all 0.2s ease 0s;
}

.burger-menu {
    display: none;
    @include w768 {
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        top: 100%;
        left: 0;
        background-color: $color-white;
        z-index: 3;
        padding: 20px 15px;
    }
    &.active {
        display: flex;
    }
    .header-main__form {
        height: 40px;
        margin-bottom: 20px;
    }
    .header-main__btn {
        margin-top: 20px;
        margin-bottom: 21px;
    }
    .header-main__search {
        width: 100%;
        height: 40px;
        border: 1px solid #F0F0F0;
        border-radius: 30px;
        padding: 8px 20px;


        &:focus {
            height: 100%;
            padding: 8px 20px;
        }
        &:focus + .header-main__search-submit {
            z-index: 3;
        }
    }
    .header-main__search-submit {
        top: 10px;
        right: 10px;
    }
}
.burger-menu__list,
.burger-menu__com-list,
.burger-menu__cont-list {
    @include list-reset;
}
.burger-menu__list {
    .burger-menu__item {
        &:not(:last-of-type) {
            margin-bottom: 15px;
        }
    }
    .burger-menu__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }
}
.burger-menu__com-list {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 50px;
    row-gap: 12px;

    .burger-menu__link {
        line-height: 24px;
        color: $color-dark-grey;
    }
}
.burger-menu__cont-item {
    &:not(:last-of-type) {
        margin-bottom: 10px;
    }
    .burger-menu__cont-link {
        line-height: 24px;
        color: $color-dark-grey;
    }
}
.burger-menu__nav {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 20px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none; 
}
