.main-size-table {
    display: none;

    &.active {
        display: block;
    }
}
.size-table {
    &::before {
        content: '';
        position: fixed;
        width: 100%; 
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        z-index: 15;

        @include w768 {
            display: none;
        }
    }
}
.size-table__container {
    position: fixed;
    max-width: 827px;
    height: fit-content;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 40px 35px 40px;
    background-color: $color-blue-grey;
    border-radius: 15px;
    z-index: 21;

    @include w768 {
        position: absolute;
        max-width: 100%;
        top: 32%;
        border-radius: 0;
        padding: 20px 15px 30px;
    }
    @media screen and (max-height: 900px) {
        height: auto;
        overflow-y: auto;
    }
}

.size-table__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
}
.size-table__wrap {
    margin-bottom: 45px;
    &:last-of-type {
        margin-bottom: 0;
    }
    @include w768 {
        margin-bottom: 30px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
.size-table__top {
    border-bottom: 1px solid $color-dark-grey;
    padding-bottom: 10px;
    margin-bottom: 20px;

    @include w768 {
        font-size: 14px;
        line-height: 19px;
    }
}
.size-table__table {
    width: 100%;
}
.size-table__cell {
    &:first-of-type {
        text-align: left;
    }
    text-align: center;
    padding-bottom: 15px;
    @include w768 {
        font-size: 9px;
        line-height: 19px;
        padding-bottom: 5px;
    }
}
.size-table__row {
    &:last-of-type {
        .size-table__cell {
            padding-bottom: 0;
        }
    }
}
.size-table__row--head {
    .size-table__cell {
        padding-bottom: 20px;
        @include w768 {
            padding-bottom: 10px;
        }
    }
}

.popup-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}